:root {
    --white: rgb(207, 189, 154);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.row {
    display: flex;
    width: 100%;
    max-width: 1000px;
    vertical-align: middle;
    align-items: center;
    margin-top: 20px;
}
/*NAVBAR*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
}
.brand-title img{
    width: 13%;
    display: flex;
    margin-left: 10%;

}
.navbar-links {
    margin-right: 20px;
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li {
    list-style: none;
}
.navbar-links li a {
    text-decoration: none;
    color: var(--white);
    font-family: 'Inter', sans-serif;
    padding: 1rem;
    display: block;
    font-size: .800rem;
}
.navbar-links li a:hover {
    color: white;
    transition: 1s;
}
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
@media (max-width: 800px) {
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}
/*HIGHLIGHT*/
.hero {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.589), rgba(0,0,0,0.1)),url(images/1bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    z-index: -1;
    position: relative;
}
.head-1 {
    color: white;
    font-size: 2rem;
    z-index: 1;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    line-height: 1.7;
}
@media (max-width: 800px) {
    .head-1 {
        font-size: 1.5rem;
    }
}
/*FEATURES*/
.ftcontainer {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.col-3 {
    width: 25%;
    padding: 40px;
}
.col-3 img {
    width: 100%;
}
.col-3 img:hover {
    transform: scale(1.1);
    transition: 1s;
    z-index: -1;
}
.row h3 {
    font-size: 1.8rem;
    font-family: 'Inter', sans-serif;
    border-bottom: 5px solid var(--white);
    padding: 10px;
}
@media (max-width: 800px) {
    .ftcontainer {
        flex-wrap: wrap;
    }
    .col-3 {
        padding: 5px;
    }
    .row h3 {
        font-size: 1rem;
    }
}
/*PRODUCTS*/
.products {
    font-family: 'Inter', sans-serif;
}
.products h2 {
    font-size: 1.8rem;
    border-bottom: 5px solid var(--white);
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 70%;
}
.prdcontainer {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.col-4 {
    width: 20%;   
    padding: 20px;
}
.col-4 img { 
    width: 100%;
}
.col-4 h4 {
    text-align: center;
}
.col-4 p {
    text-align: center;
}
.seemore {
    border: 1px solid var(--white);
    border-radius: 12px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 40%;
    margin-right: 40%;
    background-color: var(--white);
    color: white;
    cursor: pointer;
}
.seemore:hover {
    background:rgb(187, 171, 139);
    transition: 1s;
}
@media (max-width: 800px) {
    .col-4 {
        padding: 5px;
    }
    .col-4 h4 {
        font-size: .700rem;
    }
    .col-4 p {
        font-size: .700rem;
    }
    .seemore {
        margin-left: 25%;
        margin-right: 25%;
    }
}
/*SALES*/
.sales {
    background-color: rgb(136, 124, 99);
    display: flex;
    height: 10vh;
    margin-top: 250px;
    margin-bottom: 100px;
    z-index: -1;
    font-family: 'Inter', sans-serif;
}
.slscontainer {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 10%;
}
.saletag p {
    font-size: .700rem;
}
.cols {
    width: 40%;   
    padding: 10px;
}
.cols img { 
    width: 100%;
}
@media (max-width: 800px) {
    .sales {
        margin-top: 150px;
        height: 8vh;
    }
    .cols {
        padding: 2px;
    }
    .saletag h1 {
        font-size: 1rem;
    }
}
/*ABOUTUS*/
.aboutus{
    position: relative;
    flex-wrap: wrap;
    font-family: 'Inter', sans-serif;
    z-index: -1;
}
.aboutus h2 {
    font-size: 2.1rem;
    border-bottom: 5px solid var(--white);
    margin-top: 300px;
    text-align: left;
    margin-left: 10%;
    margin-right: 70%;
}
.abtcontainer {
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 50px;
    line-height: 2.1;
}
@media (max-width: 800px) {
    .aboutus h2 {
        margin-top: 150px;
    }
}
/*FOOTER*/
.footer {
    position: relative;
    font-family: 'Inter', sans-serif;
}
.footcontainer {
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 27px 0 17px;
    background-color: #fafafa;
    font-size: 12px;
    font-family: "Nunito Sans",sans-serif;
    font-weight: 400;
    font-style: normal;
}
@media (max-width: 800px) {
    .footcontainer {
        padding: 20px;
        font-size: .700rem;
    }
}